body {
    background-image: url('bg3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;



}



h1 {
    align-items: center;
    text-align: center;
    padding-top: 5vh;

}


.btn1 {
    margin: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
}

.btn2 {
    margin: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
}

.btn3 {
    margin: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
}

.btn4 {

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    border: none;
    transition: transform 0.2s;
}


input[type=button] {

    border: none;
    border-radius: 20px;
    padding: 16px 32px;
    cursor: pointer;
    font-size: larger;
    color: white;
    background: linear-gradient(to top left, #28b487, #7dd56f);
    transition: transform 0.2s;

}


input[type=button]:hover {
    transform: scale(1.05);
}

.footer {
    padding-top: 15.5vh;
    align-items: center;
    text-align: center;
}